<?xml version="1.0"?>
<config>
    <modules>
        <Bdt_Coupon>
            <version>0.1.0</version>
        </Bdt_Coupon>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bdt_Coupon before="Mage_Adminhtml">Bdt_Coupon_Adminhtml</Bdt_Coupon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <coupon>
                <class>Bdt_Coupon_Model</class>
            </coupon>
        </models>
        <blocks>
            <coupon>
                <class>Bdt_Coupon_Block</class>
            </coupon>
            <adminhtml>
                <rewrite>
                    <promo_quote>Bdt_Coupon_Block_Adminhtml_Promo_Quote</promo_quote>
                    <promo_quote_grid>Bdt_Coupon_Block_Adminhtml_Promo_Quote_Grid</promo_quote_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <coupon>
                <class>Bdt_Coupon_Helper</class>
            </coupon>
        </helpers>
    </global>
</config>